{% extends 'statecoin50/base.html' %}
{% load staticfiles %}
{% block content %}
<form method ="POST" action ="" >
  <div class = coin-detail>
  {% csrf_token %}
  {{form.errors}}
  <h1>{{coin.state}}</h1>
  {% if coin.owned %}
    <h2>Date obtained:{{coin.dateOwned}}</h2>
  {% else %}
    <button type="submit">Collected!</button>
  {% endif %}
  <br><br>
  <img src="{% static coin.stImg %}" >
  <br><br>
  <h2 style="max-width:800px; word-wrap:break-word; ">{{coin.dates}}</h2>
  <h2 style="max-width:700px; word-wrap:break-word; ">{{coin.details}}</h2>
</div>

</form>
{% endblock %}
